PioneerTech.Consultancy.Sys/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PioneerTech.Consultancy.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PioneerTech.Consultancy.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeDetailsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlternatePhoneNumber" type="xs:long" />
      <xs:element minOccurs="0" name="CurrentCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:long" />
      <xs:element minOccurs="0" name="ZipCode" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDetailsModel" nillable="true" type="tns:EmployeeDetailsModel" />
</xs:schema>